*{
    text-align: center;
    font-family: Arial, Helvetica, "Noto Sans KR", sans-serif;
}
html{
    background-color: #fbe7b1;
}
body{
    width: 640px;
    margin: 0 auto;
    padding: 0px;
}

hr{
    border-color: rgb(255, 255, 255);
}

#category ul{
    padding-left: 0;
}
#category ul li{
    list-style: none;
}

#header img{width: 20%; border-radius: 70px;}
#contents .cute ul{padding-left: 0;}
#contents .cute ul li{list-style: none; font-weight: bolder; text-align: center;}
#contents .come h3 span{color: red;font-size: 11px;}
#contents .come p s{font-size: 13px; color: gray;}
#contents .dessert h3{color: indianred;}

#footer{font-size: 11px; color: gray;}
#footer #piclist{position: relative; float: left;width: 640px;margin: 0 auto;}
#footer #piclist .pic{padding-left: 0;}
#footer #piclist .pic li{list-style: none; float: left; width: 22%; margin-left: 2%; margin-bottom: 2%;}
#footer #piclist .pic li img{width: 100%;}