/*css기본세팅*/
*{
    font-family: Arial, Helvetica, "Noto Sans KR", sans-serif;
    font-size: 12px;
    color: black;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0px;
}

.container{
    width: 400px;
    height: 600px;
    background-color: #e9e9e9;
    border: 3px solid rgb(167, 167, 167);
    border-radius: 10px;
    overflow: hidden;
}
/*메인스크린*/
.chat_screen{
    height: calc(100% - 80px);
}

/*user항목*/
.user{
    background-color: rgb(127, 127, 127);
    padding: 10px;
    height: 50px;
}

.user_column{
    float: left;
}

.user_pic{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: white;
}

.user_nick, .user_count{
    margin: -1px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.user_count{
    font-size: 10px;
    color: rgb(189, 189, 189);
}

/*채팅입력창(form)항목*/
.chat_form{
    height: 80px;
    background-color: #ffffff;
}
.chat_form_field{
    height: 70px;
    padding: 5px;
}
.chat_form_msg{
    width: calc(100% - 80px);
    height: 70px;
    border: none;
    resize: none;
    font-size: 13px;
    padding: 10px;
}
.chat_form_btn{
    float: right;
    width: 80px;
    height: 70px;
    border-radius: 10px;
    background-color: rgb(189, 189, 189);
    color: white;
    font-size: 15px;
}

.chat_form_msg.chat_form_msg:focus{
    outline: none;
}

.chat_form_btn:active{
    background-color: #b1b1b1;
}